/*=========================================================
01 Design Tokens
=========================================================*/

:root{

    /*---------------------------------------------------------
    Colors
    ---------------------------------------------------------*/

    --nx-primary:#2563EB;
    --nx-primary-dark:#1D4ED8;

    --nx-bg:#020617;
    --nx-surface:#0F172A;

    --nx-white:#FFFFFF;

    --nx-text:#CBD5E1;
    --nx-muted:#94A3B8;

    --nx-border:rgba(255,255,255,.08);

    /*---------------------------------------------------------
    Typography
    ---------------------------------------------------------*/

    --nx-font-family:
        "Inter",
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        sans-serif;

    /*---------------------------------------------------------
    Spacing
    ---------------------------------------------------------*/

    --nx-space-xs:.5rem;
    --nx-space-sm:1rem;
    --nx-space-md:2rem;
    --nx-space-lg:4rem;
    --nx-space-xl:6rem;
    --nx-space-2xl:8rem;

    /*---------------------------------------------------------
    Radius
    ---------------------------------------------------------*/

    --nx-radius-sm:12px;
    --nx-radius-md:20px;
    --nx-radius-lg:32px;
    --nx-radius-pill:999px;

    /*---------------------------------------------------------
    Shadows
    ---------------------------------------------------------*/

    --nx-shadow-sm:0 10px 25px rgba(0,0,0,.18);
    --nx-shadow-md:0 20px 50px rgba(0,0,0,.30);
    --nx-shadow-lg:0 40px 80px rgba(0,0,0,.45);

    /*---------------------------------------------------------
    Transition
    ---------------------------------------------------------*/

    --nx-transition:.35s ease;

    /*---------------------------------------------------------
    Layout
    ---------------------------------------------------------*/

    --nx-container:1400px;

}