# ==========================
# Node.js
# ==========================

node_modules/
npm-debug.log*

# ==========================
# Build temporal
# ==========================

*.log

# ==========================
# Sistema operativo
# ==========================

.DS_Store
Thumbs.db

# ==========================
# Visual Studio Code
# ==========================

.vscode/

# ==========================
# Archivos temporales
# ==========================

*.tmp
*.temp