<!--
==================================================
Nexus UI Framework
Component: Button
Version: 1.0
==================================================
-->

<section class="nx-component-demo">

    <h3>Primary</h3>

    <button class="nx-button nx-button-primary">
        Primary
    </button>

    <h3>Outline</h3>

<button class="nx-button nx-button-outline">
    Outline
</button>

    <h3>Outline</h3>

    <button class="nx-button nx-button-outline">
        Outline
    </button>

    <h3>Ghost</h3>

    <button class="nx-button nx-button-ghost">
        Ghost
    </button>

</section>