/*=========================================================
07 Components
=========================================================*/

/*---------------------------------------------------------
07.3 Badges
---------------------------------------------------------*/

.nx-badge{

    display:inline-block;

    margin-bottom:var(--nx-space-md);

    padding:.45rem 1rem;

    border-radius:var(--nx-radius-pill);

    background:rgba(37,99,235,.15);

    color:var(--nx-primary);

    font-weight:600;

}