/*=========================================================
07 Components
=========================================================*/

/*---------------------------------------------------------
07.2 Cards
---------------------------------------------------------*/

.nx-card{

    position:relative;

    padding:var(--nx-space-md);

    background:rgba(255,255,255,.04);

    border:1px solid var(--nx-border);

    border-radius:var(--nx-radius-lg);

    transition:var(--nx-transition);

}