/*=========================================================
07 Components
=========================================================*/

/*---------------------------------------------------------
07.7 Chart Card
---------------------------------------------------------*/

.nx-chart-card{

    min-height:420px;

}


/*=========================================================
Body
=========================================================*/

.nx-chart-body{

    position:relative;

    width:100%;

    height:320px;

    min-height:320px;

    overflow:hidden;

}

/*=========================================================
Canvas
=========================================================*/
.nx-chart-body canvas{

    display:block;

    max-width:100%;

    margin:auto;

}


/*=========================================================
Legend
=========================================================*/

.nx-chart-legend{

    color:var(--nx-text);

    font-size:.9rem;

}

/*=========================================================
Update
=========================================================*/

.nx-chart-update{

    color:var(--nx-text-soft);

    font-size:.82rem;

}


