/*=========================================================
07 Components
=========================================================*/

/*---------------------------------------------------------
07.7 Chart Card
---------------------------------------------------------*/

.nx-chart-card{

    display:flex;

    flex-direction:column;

    gap:var(--nx-space-md);

}


/*=========================================================
Body
=========================================================*/

.nx-chart-body{

    position:relative;

    display:flex;

    align-items:center;

    justify-content:center;

    width:100%;

    min-height:320px;

}


/*=========================================================
Canvas
=========================================================*/

.nx-chart-body canvas{

    width:100% !important;

    height:100% !important;

}



/*=========================================================
Legend
=========================================================*/

.nx-chart-legend{

    color:var(--nx-text);

    font-size:.9rem;

}


/*=========================================================
Update
=========================================================*/

.nx-chart-update{

    color:var(--nx-text-soft);

    font-size:.82rem;

}