/*=========================================================
06 Layout
=========================================================*/

/*---------------------------------------------------------
06.1 Container
---------------------------------------------------------*/

.nx-container{

    width:100%;

    max-width:var(--nx-container);

    margin-inline:auto;

    padding-inline:1.5rem;

}

/*---------------------------------------------------------
06.2 Main
---------------------------------------------------------*/

.nx-main{

    position:relative;

    min-height:100vh;

}

/*---------------------------------------------------------
06.3 Sections
---------------------------------------------------------*/

.nx-section{

    position:relative;

    padding:var(--nx-space-2xl) 0;

}

.nx-section-header{

    max-width:900px;

    margin:0 auto 5rem;

    text-align:center;

}