/*=========================================================
06 Layout
=========================================================*/

/*---------------------------------------------------------
06.1 Container
---------------------------------------------------------*/

.nx-container{

    width:100%;

    max-width:var(--nx-container);

    margin-inline:auto;

    padding-inline:var(--nx-container-padding);

    box-sizing:border-box;

}

/*---------------------------------------------------------
Responsive
---------------------------------------------------------*/

@media (max-width:768px){

    .nx-container{

        padding-inline:
            var(--nx-container-padding-tablet);

    }

}

@media (max-width:576px){

    .nx-container{

        padding-inline:
            var(--nx-container-padding-mobile);

    }

}

/*---------------------------------------------------------
06.2 Main
---------------------------------------------------------*/

.nx-main{

    position:relative;

    min-height:100vh;

}

/*---------------------------------------------------------
06.3 Sections
---------------------------------------------------------*/

.nx-section{

    position:relative;

    padding:
        var(--nx-section-padding)
        0;

}


/*---------------------------------------------------------
Responsive Sections
---------------------------------------------------------*/

@media (max-width:576px){

    .nx-section{

        padding:
            var(--nx-section-padding-mobile)
            0;

    }

  

}