/*=========================================================
06 Layout
=========================================================*/

/*---------------------------------------------------------
06.4 Footer
---------------------------------------------------------*/

.nx-footer{

    position:relative;

    padding:var(--nx-space-xl) 0;

    background:transparent;

}