/*=========================================================
06 Layout
=========================================================*/

/*---------------------------------------------------------
06.2 Grid
---------------------------------------------------------*/

.nx-grid{

    display:grid;

    gap:var(--nx-space-md);

}

/*---------------------------------------------------------
Auto Grid
---------------------------------------------------------*/

.nx-grid-auto{

    grid-template-columns:
        repeat(
            auto-fit,
            minmax(320px,1fr)
        );

}

/*---------------------------------------------------------
2 Columns
---------------------------------------------------------*/

.nx-grid-2{

    grid-template-columns:
        repeat(2,1fr);

}

/*---------------------------------------------------------
3 Columns
---------------------------------------------------------*/

.nx-grid-3{

    grid-template-columns:
        repeat(3,1fr);

}

/*---------------------------------------------------------
4 Columns
---------------------------------------------------------*/

.nx-grid-4{

    grid-template-columns:
        repeat(4,1fr);

}