/*=========================================================
06 Layout
=========================================================*/

/*---------------------------------------------------------
06.2 Grid
---------------------------------------------------------*/

.nx-grid{

    display:grid;

    gap:var(--nx-space-md);

}

/*---------------------------------------------------------
Auto Grid
---------------------------------------------------------*/

.nx-grid-auto{

    grid-template-columns:
        repeat(
            auto-fit,
            minmax(
                var(--nx-grid-min),
                1fr
            )
        );

}

/*---------------------------------------------------------
1 Column
---------------------------------------------------------*/

.nx-grid-1{

    grid-template-columns:1fr;

}

/*---------------------------------------------------------
2 Columns
---------------------------------------------------------*/

.nx-grid-2{

    grid-template-columns:
        repeat(2,1fr);

}

/*---------------------------------------------------------
3 Columns
---------------------------------------------------------*/

.nx-grid-3{

    grid-template-columns:
        repeat(3,1fr);

}

/*---------------------------------------------------------
4 Columns
---------------------------------------------------------*/

.nx-grid-4{

    grid-template-columns:
        repeat(4,1fr);

}

/*---------------------------------------------------------
5 Columns
---------------------------------------------------------*/

.nx-grid-5{

    grid-template-columns:
        repeat(5,1fr);

}

/*---------------------------------------------------------
6 Columns
---------------------------------------------------------*/

.nx-grid-6{

    grid-template-columns:
        repeat(6,1fr);

}

/*---------------------------------------------------------
Alignment
---------------------------------------------------------*/

.nx-grid-center{

    align-items:center;

}

.nx-grid-stretch{

    align-items:stretch;

}

/*---------------------------------------------------------
Gap
---------------------------------------------------------*/

.nx-grid-gap-sm{

    gap:var(--nx-space-sm);

}

.nx-grid-gap-lg{

    gap:var(--nx-space-lg);

}