/*=========================================================
06.2 Grid
=========================================================*/

.nx-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));

    gap:var(--nx-space-md);

}